<div class="loginpanel">
<form ng-submit="login()">
    <div class="txt" ng-class="{error: errors.errors.email}">
        <input type="email" placeholder="Email" ng-model="user.email" />
        <div ng-show="errors.errors.email">
            <div ng-repeat="field_error in errors.errors.email">{{field_error}}</div>
        </div>
    </div>

    <div class="txt" ng-class="{error: errors.errors.password}">
        <input type="password" placeholder="Password" ng-model="user.password" />
        <div ng-show="errors.errors.password">
            <div ng-repeat="field_error in errors.errors.password">{{field_error}}</div>
        </div>
    </div>
    <div class="buttons">
        <input type="submit" class="btn btn-default centered" value="Log In">
    </div>
</form>

    <div class="hr">
        <div></div>
        <div>OR</div>
        <div></div>
    </div>


        <div data-facebook='<%= Figaro.env.facebook_key %>'>
            <div id="fb-root"></div>
            <div class="social">
                <a href="javascript:void(0)" data-ng-click='fetch()' class='facebook'></a>
            </div>
        </div>
</div>

<span class="resp-info"></span>